<style>
    img {
        width: 100%;
    }
</style>

<ion-view view-title="Article Details">
    <ion-content>
        <div class="item item-text-wrap" style="padding:0px;">
            <img style="height: 100%; width: 100%;" src="{{articleDetail.featured_image}}">
        </div>
        <div class="card" style="margin-top: -80px;">
            <div class="item item-text-wrap" style="padding:10px;background: white;">
                    <h2 style="font-weight: 600;">{{articleDetail.title}}</h2><hr>
                    <div ng-bind-html="articleDetail.body" style="text-align: justify;">
                    </div>
            </div>
            <div class="item item-divider" style="font-weight: 500; font-size:12px;">
                <i class="icon ion-calendar"></i> {{articleDetail.created_article}}
            </div>
        </div>
    </ion-content>
</ion-view>