<style>
    .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
        margin-top: 1px;
        color: #ffffff;
        border: 0 solid #ffffff;
        border-bottom-width: 2px;
    }

    .tabs-striped.tabs-color-assertive .tab-item {
        color: rgba(245, 245, 245, 0.48);
        opacity: 1;
    }

    .tab-item .icon {
            /* display: -webkit-inline-box; */
        margin: 0 auto;
        height: 32px;
        font-size: 28px;
    }
</style>

<ion-view view-title="Articles">
    <div class="tabs-striped tabs-color-assertive tabs-background-positive tabs-color-light">
        <div class="tabs" style="background-color: #f26f21;">
            <a class="tab-item active" id="btnCat19" ng-click="tabClick(19)" href="#/article">
                <i class="icon ion-information-circled"></i>
                Kantor
            </a>
            <a class="tab-item" id="btnCat23" ng-click="tabClick(23)" href="#/article">
                <i class="icon ion-android-desktop"></i>
                Teknologi
            </a>
            <a class="tab-item" id="btnCat17" ng-click="tabClick(17)" href="#/article">
                <i class="icon ion-heart"></i>
                Settings
            </a>
            <a class="tab-item" id="btnCatMore" ng-click="tabClick('More')" href="#/article">
                <i class="icon ion-more"></i>
                More
            </a>
        </div>
    </div>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="tab-content" id="tab{{cat.id}}" ng-repeat="cat in categories" style="{{(cat.id != 19 ) ? 'display: none;' : ''}}">
                <!-- style="display: none;" -->
            <!-- {{(tmsdetails.end_time != null ) ? (tmsdetails.end_time | dateToISO | date: 'shortTime') : ''}} -->
            <a ng-click="viewArticle({{post.id_post}})" ng-If="cat.id == post.category_id" style="text-decoration: none;" ng-repeat="post in posts">
                <div class="card">
                    <div class="item item-text-wrap" style="padding:0px;">
                        <img style="height: 150px; width: 100%;" src="http://192.168.22.113/webportal/{{post.featured_image}}">
                        <div class="item item-text-wrap">
                                {{post.title}}
                        </div>
                    </div>
                    <div class="item item-divider" style="font-weight: 500; font-size:12px;">
                        <i class="icon ion-calendar"></i> {{post.created_article}}
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>