<!DOCTYPE html>
<style>
    .item-input input, .item-input textarea {
        width: 60%;
        background: rgba(242, 111, 33, 0.22);
        flex: unset;
        padding: 5px;
    }

    hr {
        background: grey;
        margin: 0px;
        padding: 4px;
    }

    .item.item-stable {
        font-weight: 900;
        z-index: 1;
        padding: 5px 10px;
    }

    .item {
        text-align: left;
    }

    .sub-item {
        margin-left: 20px;
        z-index: 0;
        padding: 0px;
    }

    input[type="checkbox"][readonly] {
        pointer-events: none;
    }
</style>
<ion-view view-title="Membuat BSTK">
    <ion-content>
            <form novalidate role="form" ng-submit="addTimesheet()">
                <ion-list class="list">
                    <ion-item class="item-stable"
                        ng-click="toggleGroup(group)"
                        ng-class="{active: isGroupShown(group)}">
                        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        No : {{header['INSPECTIONID']}} | {{header['ITK_REFTRANSACTIONNO']}}
                    </ion-item>
                    <div ng-show="isGroupShown(group)" class="sub-item">
                        <ion-item class="item item-input"><span class="input-label">Merk / Type</span>
                            <input readonly required type="text" ng-model="bstb.merk">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Tahun</span>
                            <input readonly required type="text" ng-model="bstb.tahun">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Warna</span>
                            <input readonly required type="text" ng-model="bstb.warna">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Lokasi</span>
                            <input readonly required type="text" ng-model="bstb.lokasi">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Jenis Sewa</span>
                            <input readonly required type="text" ng-model="bstb.jenis">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Nomor Polisi</span>
                            <input readonly required type="text" ng-model="bstb.license">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Perusahaan</span>
                            <input readonly required type="text" ng-model="bstb.perusahaan">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Nama Penyewa</span>
                            <input readonly required type="text" ng-model="bstb.nama">
                        </ion-item>
                        <ion-item class="item item-input"><span class="input-label">Alamat</span>
                            <input readonly required type="text" ng-model="bstb.alamat">
                        </ion-item>
                    </div>
                </ion-list>
                <hr>
                <ion-list>
                    <div ng-repeat="group in groups">
                        <ion-item class="item-stable"
                            ng-click="toggleGroup(group)"
                            ng-class="{active: isGroupShown(group)}">
                            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                            &nbsp;
                            {{group.name}}
                        </ion-item>
                        <ion-item class="item-accordion sub-item" ng-class="isGroupShown(group) ? 'animated fadeInDown' : 'item-remove-animate'"
                            ng-repeat="item in group.items"
                            ng-show="isGroupShown(group)">
                            <ion-checkbox ng-if="view == 'true'" ng-disabled="true" ng-value="{{values[item]}}" ng-checked="{{checked[item]}}">{{item}}</ion-checkbox>
                            <ion-checkbox ng-if="view == 'false'" ng-value="{{values[item]}}" ng-checked="{{checked[item]}}">{{item}}</ion-checkbox>
                        </ion-item>
                    </div>
                </ion-list>
                <ion-item  ng-if="view == 'false'" class="item item-borderless">
                    <button on-touch="onTouch()" type="submit" class="button button-block button-positive"><i class="icon ion-checkmark-round"></i> Submit</button>
                </ion-item>
            </form>
    </ion-content>
</ion-view>