<style>
    .radio-toolbar input[type="radio"] {
        display: none;
      }
      
      .radio-toolbar label {
        display: inline-block;
        padding: 2px 4px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        width: 24.5%;
      }

      .emo-val {
          font-size: 8px;
          text-align: center;
      }
      
      .radio-toolbar input[type="radio"]:checked + label {
        background-color: #bbb;
        clear: none;
      }

      label > img {
          width: 100%;
          height: 100%;
      }
</style>

<ion-view view-title="Data BSTK">
    <ion-nav-buttons side="right">
        <a class="button" ng-click="showOption()"><i class="icon ion-navicon-round"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list class="list">
            <ion-item ng-click="viewBSTK('{{ins.INSPECTIONID}}')" ng-repeat="ins in insp" class="item item-block item-md">
                <ion-icon item-start="" name="musical-notes" role="img" style="color: #d03e84" class="icon icon-md ion-md-musical-notes item-icon" aria-label="musical notes">
                </ion-icon><div class="item-inner">
                    <div class="input-wrapper"><!---->
                        <ion-label class="label label-md">
                        <h2 style="font-weight: 600; text-decoration: underline;">{{ins.INSPECTIONID}}</h2><p style="">{{ins.ITK_REFTRANSACTIONNO}} | {{ins.DESCRIPTION}}</p>
                        </ion-label>
                    </div>
                    <ion-badge item-end="" class="badge badge-md">{{ins.NAME}}</ion-badge><!---->
                </div>
                <div class="button-effect"></div>
            </ion-item>            
        </ion-list>
    </ion-content>
</ion-view>