<ion-view  view-title="Camera">
    <ion-content padding="true" class="has-header" scroll="true" ng-controller="CameraCtrl">
        <button ng-click="getPhoto()" class="button button-block button-primary">Take Photo</button>
        <img ng-src="{{lastPhoto}}" style="max-width: 100%">
    </ion-content>
</ion-view>