<style>
    .item-input input, .item-input textarea {
        width: 60%;
        background: rgba(242, 111, 33, 0.22);
        flex: unset;
        padding: 5px;
    }
</style>
<ion-view view-title="Absen Pulang">
    <ion-content>
        <form novalidate role="form" ng-submit="updateTimesheet()">
            <ion-list class="list">
                <ion-item class="item item-input"><span class="input-label">Tanggal Masuk</span>
                    <input readonly required type="date" ng-model="tms.start_date">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Waktu Masuk</span>
                    <input readonly required type="time" ng-model="tms.start_time">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Tanggal Pulang</span>
                    <input required type="date" ng-model="tms.end_date">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Waktu Pulang</span>
                    <input required type="time" ng-model="tms.end_time">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Provinsi</span>
                    <select id="province" style="max-width: 210px;" ng-model="tms.province" class="ng-pristine ng-untouched ng-valid">
                        <option value="">~ Pilih Provinsi ~ </option>
                        <!-- ngRepeat: province in provinces -->
                        <option value="1" style="">Aceh</option>
                        <option value="2">Sumatera Utara</option>
                        <option value="3">Sumatera Barat</option>
                        <option value="4">Riau</option>
                        <option value="5">Jambi</option>
                        <option value="6">Sumatera Selatan</option>
                        <option value="7">Bengkulu</option>
                        <option value="8">Lampung</option>
                        <option value="9">Kepulauan Bangka Belitung</option>
                        <option value="10">Kepulauan Riau</option>
                        <option value="11">Jakarta</option>
                        <option value="12">Yogyakarta</option>
                        <option value="13">Jawa Barat</option>
                        <option value="14">Jawa Tengah</option>
                        <option value="15">Jawa Timur</option>
                        <option value="16">Banten</option>
                        <option value="17">Bali</option>
                        <option value="18">Nusa Tenggara Timur</option>
                        <option value="19">Nusa Tenggara Barat</option>
                        <option value="20">Kalimantan Barat</option>
                        <option value="21">Kalimantan Tengah</option>
                        <option value="22">Kalimantan Selatan</option>
                        <option value="23">Kalimantan Timur</option>
                        <option value="24">Kalimantan Utara</option>
                        <option value="25">Sulawesi Utara</option>
                        <option value="26">Sulawesi Tengah</option>
                        <option value="27">Sulawesi Selatan</option>
                        <option value="28">Sulawesi Tenggara</option>
                        <option value="29">Sulawesi Barat</option>
                        <option value="30">Gorontalo</option>
                        <option value="31">Maluku</option>
                        <option value="32">Maluku Utara</option>
                        <option value="33">Papua</option>
                        <option value="34">Papua Barat</option>
                    </select>
                </ion-item>
                <ion-item style="display:none;" class="item item-input"><span class="input-label">Nama Kota</span>
                    <input type="text" ng-model="tms.town" readonly>
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Keluar Kota</span>
                    <select ng-model="tms.ot" ng-change="otChanged()">
                        <option value="no" selected="">Tidak</option>
                        <option value="pp">Tidak Menginap</option>
                        <option value="overnight">Menginap</option>
                    </select>
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Kota Menginap</span>
                    <input disabled type="text" id="town2" ng-model="tms.town2">
                </ion-item>
                <ion-item style="" class="item item-input"><span class="input-label">Sopir GS</span>
                    <input type="text" ng-model="tms.driver_gs" readonly>
                </ion-item>
                <ion-item style="display:none;" class="item item-input"><span class="input-label">Bertugas di</span>
                    <select ng-model="tms.used_for" disabled>
                        <option value="internal">Internal</option>
                        <option value="external">External</option>
                    </select>
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>KM</span>
                    <input type="number" ng-model="tms.km">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Catatan</span>
                    <textarea  rows="4" type="text" ng-model="tms.desc"></textarea>
                </ion-item>
            </ion-list>
            <ion-list class="list list-inset">
                <ion-item class="item item-borderless">
                    <button on-touch="onTouch()" type="submit" class="button button-block button-positive"><i class="icon ion-checkmark-round"></i> Absen Pulang </button>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
