<style>
    .item {
        text-align: left;
    }

    .detail-label {
        width: 160px;
    }
</style>

<ion-view view-title="Timesheet Details">
    <ion-content>
        <ion-list class="list" ng-repeat="tmsdetails in tmssdetails">
            <ion-item class="item item-low">
                <div class="detail-label">Ref. No</div><span>: #{{timeId}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Tanggal Masuk</div><span>: {{tmsdetails.start_time | dateToISO | date: 'dd MMM yyyy' | uppercase}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Waktu Masuk</div><span>: {{tmsdetails.start_time | dateToISO | date: 'shortTime'}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Tanggal Pulang</div><span>: {{ (tmsdetails.end_time != null ) ? (tmsdetails.end_time | dateToISO | date: 'dd MMM yyyy' | uppercase) : ''}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Waktu Pulang</div><span>:  {{(tmsdetails.end_time != null ) ? (tmsdetails.end_time | dateToISO | date: 'shortTime') : ''}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Tanggal Pulang (Edit)</div><span  style="color: red;">: {{ (tmsdetails.end_time_edit != null ) ? (tmsdetails.end_time_edit | dateToISO | date: 'dd MMM yyyy' | uppercase) : ''}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Waktu Pulang (Edit)</div><span  style="color: red;">: {{(tmsdetails.end_time_edit != null ) ? (tmsdetails.end_time_edit | dateToISO | date: 'shortTime') : ''}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Keluar Kota</div><span>: {{tmsdetails.out_of_town | uppercase}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Province</div><span>: {{tmsdetails.province_name}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Nama Kota</div><span>: {{tmsdetails.town | uppercase}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Sopir GS</div><span>: {{tmsdetails.driver_gs | uppercase}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Bertugas di</div><span>: {{tmsdetails.type_of_use | uppercase}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">KM Masuk</div><span>: {{tmsdetails.km_awal}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">KM Pulang</div><span>: {{tmsdetails.km_akhir}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Plat Nomor</div><span>: {{tmsdetails.nopol}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Keterangan</div><span>: {{tmsdetails.desc}}</span>
            </ion-item>
            <ion-item class="item item-borderless item-low">
                <div class="detail-label">Status</div><span style="color: {{color}}">: {{statusLabel}}</span>
            </ion-item>
            <ion-item ng-if="status!=='no'" class="item item-borderless item-low">
                <div class="detail-label">Disetujui oleh</div><span>: {{tmsdetails.firstname}} {{tmsdetails.lastname}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>