<style>
    .radio-toolbar input[type="radio"] {
        display: none;
      }
      
      .radio-toolbar label {
        display: inline-block;
        padding: 2px 4px;
        font-family: Arial;
        font-size: 16px;
        cursor: pointer;
        width: 15%;
      }

      .emo-val {
          font-size: 8px;
          text-align: center;
      }
      
      .radio-toolbar input[type="radio"]:checked + label {
        background-color: #bbb;
        clear: none;
      }

      label > img {
          width: 100%;
          height: 100%;
      }

     label#checkA > div.item-content.disable-pointer-events {
         white-space: inherit;
         text-align: justify;
     }
</style>

<ion-view view-title="Data Absen">
    <ion-nav-buttons side="right">
        <a class="button" ng-click="showOption()"><i class="icon ion-navicon-round"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <ion-checkbox ng-repeat="tms in tmss" ng-model="tms.checked" ng-click="checkIndex({{tms.id}}, tms)"> 
            Absen Masuk  : {{tms.start_time| dateToISO | date:'dd/MM/yyyy HH:mm' }} 
            <br>
            Absen Pulang :  <span ng-if="tms.end_time">{{tms.end_time| dateToISO | date:'dd/MM/yyyy HH:mm'}}</span>
            <span ng-if="!tms.end_time">~<span>
        </ion-checkbox>
    </ion-content>
</ion-view>