
<style type="text/css">
    .list {
            text-align: center;
    }
</style>

<ion-view view-title="Timesheet Mobile" class="bg">
    <ion-content class="login-padding">
        <ion-list class="list list-inset">
            <img src="assets/img/mpmr-icon.png">
            <ion-item class="item item-input-inset login-item">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="ID Sopir" class="input-block" ng-model="data.uname">
            </ion-item>
            <ion-item class="item item-input-inset login-item">
                <i class="icon ion-locked placeholder-icon"></i>
                <input type="password" placeholder="Masukan PIN" class="input-block" ng-model="data.passwd">
            </ion-item>
        </ion-list>
        <ion-list class="list list-inset">
                <button type="submit" class="button button-block button-positive" ng-click="login()"> Masuk </button>
                <!-- <button type="button" class="button button-block button-positive" ng-click="camera()"> Camera </button> -->
        </ion-list>
    </ion-content>
    <h4 style="bottom: 44px;
    text-align: center;
    width: 100%;
    position: fixed; font-weight:100; margin-bottom: 0px; color: white; background: #f26f21;">Version {{getVersionCode}}</h4>
    <ion-footer-bar align-title="center" class="bar-light">
            <h1 class="title title-footer" style="    left: 0px !important;">PT Mitra Pinasthika Mustika Rent</h1>
            
    </ion-footer-bar>
</ion-view>