<style>
    .item-text-wrap {
        display:inline-block;
        width: 100%;;
        white-space: nowrap !important;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }

    .card .item {
        border: none;
    }
</style>

<ion-view view-title="Pesan">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <a ng-If="message.read == null && message.id != null" ng-click="viewMessage({{message.id}})" style="text-decoration: none;" ng-repeat="message in messages">
            <div class="card">
                <div class="item item-divider" style="font-weight: 500; font-size:20px; color:white; background: #f26f21;">
                    <i class="icon ion-android-textsms"></i>  {{message.title}}
                </div>
                <div class="item item-divider" style="text-align:right; font-weight: 500; font-size:12px;">
                    <i class="icon ion-calendar"></i> {{message.datetime}}
                </div>
            </div>
        </a>
        <a ng-If="message.read != null" ng-click="viewMessage({{message.id}})" style="text-decoration: none;" ng-repeat="message in messages">
            <div class="card">
                <div class="item item-divider" style="font-weight: 500; font-size:20px;">
                    <i class="icon ion-android-textsms"></i>  {{message.title}}
                </div>
                <div class="item item-divider" style="text-align:right; font-weight: 500; font-size:12px;">
                    <i class="icon ion-calendar"></i> {{message.datetime}}
                </div>
            </div>
        </a>
    </ion-content>
</ion-view>