<!DOCTYPE html>
<style>
    .item-input input, .item-input textarea {
        width: 60%;
        background: rgba(242, 111, 33, 0.22);
        flex: unset;
        padding: 5px;
    }
</style>
<ion-view view-title="Profile">
    <ion-content>
        <form novalidate role="form" ng-submit="updateDataDriver()">
            <ion-list class="list">
                <ion-item class="item item-input"><span class="input-label">Nama Lengkap</span>
                    <input readonly required type="text" ng-model="tms.nama">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Email</span>
                    <input required type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" ng-model="tms.email">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">No Telepon 1</span>
                    <input required type="text" ng-model="tms.phone1">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">No Telepon 2</span>
                    <input required type="text" ng-model="tms.phone2">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">No Darurat</span>
                    <select id="kerabat" style="max-width: 210px;" ng-model="tms.kerabat" class="ng-pristine ng-untouched ng-valid">
                        <option value="">~ Pilih Kerabat ~ </option>
                        <option value="ayah" class="ng-binding">Ayah</option>
                        <option value="ibu" class="ng-binding">Ibu</option>
                        <option value="suami" class="ng-binding">Suami</option>
                        <option value="istri" class="ng-binding">Istri</option>
                        <option value="anak" class="ng-binding">Anak</option>
                        <option value="saudara" class="ng-binding">Saudara</option>
                    </select>
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"></span>
                    <input required type="text" ng-model="tms.phone3">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Foto</span> 
                    <!-- style="display: none;" -->
                    <input style="display: none;" type="text" ng-model="tms.pic" value="{{lastPhoto}}">
                    <img src="{{urlPhoto}}" ng-src="{{lastPhoto}}" style="max-width: 60%" ng-click="getPhoto()">
                </ion-item>
            </ion-list>
            <ion-list class="list list-inset">
                <ion-item class="item item-borderless">
                    <button on-touch="onTouch()" type="submit" class="button button-block button-positive"><i class="icon ion-checkmark-round"></i> OK </button>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>