<ion-view view-title="Laporan">
    <ion-nav-buttons side="right">
        <a class="button" ng-click="searchReport()">
            <i class="icon ion-search"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">

        </ion-refresher>
        <ion-list class="list">
            <ion-item ng-click="viewDetails({{tms.id}})" ng-repeat="tms in tmss" class="item item-icon-right">
                <i class="icon ion-ios-arrow-forward"></i>
                Check In  : {{tms.start_time| dateToISO | date:'dd/MM/yyyy HH:mm' }} 
                <br>
                Check Out :  {{tms.end_time| dateToISO | date:'dd/MM/yyyy HH:mm'}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>