<!DOCTYPE html>
<style>
    .item-input input, .item-input textarea {
        width: 60%;
        background: rgba(242, 111, 33, 0.22);
        flex: unset;
        padding: 5px;
    }
</style>
<ion-view view-title="Absen Masuk">
    <ion-content>
        <form novalidate role="form" ng-submit="addTimesheet()">
            <ion-list class="list">
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Tanggal Masuk</span>
                    <input readonly required type="date" ng-model="tms.start_date">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Jam Masuk</span>
                    <input required type="time" ng-model="tms.start_time">
                </ion-item>
                <!-- <ion-item class="item item-input"><span class="input-label">End Date</span>
                    <input required type="date" ng-model="tms.end_date">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">End Time</span>
                    <input required type="time" ng-model="tms.end_time">
                </ion-item> -->
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Provinsi</span>
                    <select id="province" style="max-width: 210px;" ng-model="tms.province" class="ng-pristine ng-untouched ng-valid">
                        <option value="">~ Pilih Provinsi ~ </option>
                        
                        <option value="1" class="ng-binding">Aceh</option>
                        <option value="2" class="ng-binding">Sumatera Utara</option>
                        <option value="3" class="ng-binding">Sumatera Barat</option>
                        <option value="4" class="ng-binding">Riau</option>
                        <option value="5" class="ng-binding">Jambi</option>
                        <option value="6" class="ng-binding">Sumatera Selatan</option>
                        <option value="7" class="ng-binding">Bengkulu</option>
                        <option value="8" class="ng-binding">Lampung</option>
                        <option value="9" class="ng-binding">Kepulauan Bangka Belitung</option>
                        <option value="10" class="ng-binding">Kepulauan Riau</option>
                        <option value="11" class="ng-binding">Jakarta</option>
                        <option value="12" class="ng-binding">Yogyakarta</option>
                        <option value="13" class="ng-binding">Jawa Barat</option>
                        <option value="14" class="ng-binding">Jawa Tengah</option>
                        <option value="15" class="ng-binding">Jawa Timur</option>
                        <option value="16" class="ng-binding">Banten</option>
                        <option value="17" class="ng-binding">Bali</option>
                        <option value="18" class="ng-binding">Nusa Tenggara Timur</option>
                        <option value="19" class="ng-binding">Nusa Tenggara Barat</option>
                        <option value="20" class="ng-binding">Kalimantan Barat</option>
                        <option value="21" class="ng-binding">Kalimantan Tengah</option>
                        <option value="22" class="ng-binding">Kalimantan Selatan</option>
                        <option value="23" class="ng-binding">Kalimantan Timur</option>
                        <option value="24" class="ng-binding">Kalimantan Utara</option>
                        <option value="25" class="ng-binding">Sulawesi Utara</option>
                        <option value="26" class="ng-binding">Sulawesi Tengah</option>
                        <option value="27" class="ng-binding">Sulawesi Selatan</option>
                        <option value="28" class="ng-binding">Sulawesi Tenggara</option>
                        <option value="29" class="ng-binding">Sulawesi Barat</option>
                        <option value="30" class="ng-binding">Gorontalo</option>
                        <option value="31" class="ng-binding">Maluku</option>
                        <option value="32" class="ng-binding">Maluku Utara</option>
                        <option value="33" class="ng-binding">Papua</option>
                        <option value="34" class="ng-binding">Papua Barat</option>
                    </select>
                    <!-- <select id="province" style="max-width: 210px;" ng-model="tms.province">
                        <option value="">~ Pilih Provinsi ~ </option>
                        <option  ng-repeat="province in provinces" value="{{province.id}}">{{province.province}}</option>
                    </select> -->
                </ion-item>
                <ion-item style="display:none;" class="item item-input"><span class="input-label">Nama Kota</span>
                    <input type="text" ng-model="tms.town">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Keluar kota</span>
                    <select required ng-model="tms.ot" ng-change="otChanged()">
                        <option value="no">Tidak</option>
                        <option value="pp">Tidak Menginap</option>
                        <option value="overnight">Menginap</option>
                    </select>
                </ion-item>
                <ion-item class="item item-input"><span class="input-label">Kota Menginap</span>
                    <input disabled type="text" id="town2" ng-model="tms.town2">
                </ion-item>
                <!-- <ion-item class="item item-input"><span class="input-label">Overtime</span>
                    <ion-checkbox ng-model="tms.overtime" ng-change="overtimeChanged()"></ion-checkbox>
                </ion-item> -->
                <ion-item class="item item-input"><span class="input-label">Pengemudi GS</span>
                    <!-- <input type="text" ng-model="tms.driver_gs"> -->
                    <ion-checkbox ng-model="tms.driver_gs" ng-change="gsChanged()"></ion-checkbox>
                    <select id="driver_gs_code" disabled style="margin-left: 10px; max-width: 123px;" ng-model="tms.driver_gs_code">
                        <option value="">~ Kode Pengemudi ~ </option>
                        <option value="standby"> Stand by </option>
                        <option  ng-repeat="menu in menus" value="{{menu.username}}">{{menu.username}} - {{menu.firstname}}</option>
                    </select>
                </ion-item>
                <ion-item style="display:none;" class="item item-input"><span class="input-label">Bertugas di</span>
                    <select required ng-model="tms.used_for">
                        <option value="internal">Internal MPMR</option>
                        <option value="external">External MPMR</option>
                    </select>
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span>Plat Nomor</span>
                    <input type="text" ng-model="tms.nopol">
                </ion-item>
                <ion-item class="item item-input"><span class="input-label"><span style="color: red;">*</span> KM</span>
                    <input type="number" ng-model="tms.km">
                </ion-item>
                <!-- <ion-item class="item item-input"><span class="input-label">Take Picture</span> 
                    <input type="text" ng-model="tms.pic"> -->
                    <!-- style="display: none;" -->
                    <!-- <input  type="text" ng-model="tms.pic" value="{{lastPhoto}}"> -->
                <!-- </ion-item>
                <img src="{{urlPhoto}}" ng-src="{{lastPhoto}}" style="max-width: 60%" ng-click="getPhoto()"> -->
            </ion-list>
            <ion-list class="list list-inset">
                <ion-item class="item item-borderless">
                    <button on-touch="onTouch()" type="submit" class="button button-block button-positive"><i class="icon ion-checkmark-round"></i> Absen Masuk </button>
                </ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
