<style>
    .swiper-zoom-container img {
        width: 100%;
        height: 240px;
    }

    .text-wrap {
        margin-top: -60px; 
        font-weight: 800;
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .slider-pager {
        top: 20px !important;
    }

    .count {
        float: right;
        background: #f26f21;
        padding: 10px 15px;
        margin: -10px;
        margin-right: -30px;
        border-radius: 50px;
        color: white;
    }
</style>

<ion-view view-title="Timesheet Mobile">
    <ion-nav-bar class="bar bar-header bar-energized">
        <ion-nav-buttons side="right">
          <a class="button" ng-click="doLogout()" href="#/logout">
            <i class="icon ion-power"></i>
          </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content>
        <div style="text-align: center;">
            <img src="assets/img/mpmr-icon.png">
            <p style="background: #f26f21; color: white; margin-bottom: 0px;">Selamat datang, {{name}}</p>
        </div>
        <!-- <ion-slide-box class="slider">
            <ion-slide>
                <div ng-click="viewArticle({{posts[0].id_post}})" class="swiper-zoom-container">
                    <img src="http://timesheet.mpm-rent.net/tsm_dev/{{posts[0].featured_image}}">
                    <div class="item item-text-wrap text-wrap">
                            {{posts[0].title}}
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div ng-click="viewArticle({{posts[1].id_post}})" class="swiper-zoom-container">
                    <img src="http://timesheet.mpm-rent.net/tsm_dev/{{posts[1].featured_image}}">
                    <div class="item item-text-wrap text-wrap">
                            {{posts[1].title}}
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div ng-click="viewArticle({{posts[2].id_post}})" class="swiper-zoom-container">
                    <img src="http://timesheet.mpm-rent.net/tsm_dev/{{posts[2].featured_image}}">
                    <div class="item item-text-wrap text-wrap">
                            {{posts[2].title}}
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div ng-click="viewArticle({{posts[3].id_post}})" class="swiper-zoom-container">
                    <img src="http://timesheet.mpm-rent.net/tsm_dev/{{posts[3].featured_image}}">
                    <div class="item item-text-wrap text-wrap">
                            {{posts[3].title}}
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div ng-click="viewArticle({{posts[4].id_post}})" class="swiper-zoom-container">
                    <img src="http://timesheet.mpm-rent.net/tsm_dev/{{posts[4].featured_image}}">
                    <div class="item item-text-wrap text-wrap">
                            {{posts[4].title}}
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box> -->

        <ion-list style="margin-top: -5px;">
            <ion-item class="item item-icon-left" ng-repeat="menu in menus" href="#/{{menu.id}}"><i class="icon ion-{{menu.icon}}"></i> {{menu.label}} <span ng-If="menu.id == 'message'" class="count">{{unread}}<span></span></ion-item>
            <ion-item class="item item-icon-left"  href="#">
                <i class="icon ion-android-contact"></i> Kontak Admin 
                <span class="count" style="padding: 5px 15px;">
                    <a style="background: transparent; border: none;" ng-click="mailto('admin.tsm@mpm-rent.com')" class="item"  href="#">
                        <i style="color: white;left: -0px;font-size: 25px;" class="icon ion-android-mail"></i>
                    </a>
                </span>
                <span class="count" style="padding: 5px 15px; margin-right: 20px;">
                    <a style="background: transparent; border: none;" class="item" href="tel:0211500068">
                        <i style="color: white;left: -0px;font-size: 25px;" class="icon ion-android-call"></i>
                    </a>
                </span>
            </ion-item>
            <!-- <ion-item class="item item-icon-left" ng-click="doLogout()" href="#/logout"><i class="icon ion-locked"></i> Logout </ion-item> -->
        </ion-list>
    </ion-content>
</ion-view>