<style>
    img {
        width: 100%;
    }
</style>

<ion-view view-title="Detail Pesan">
    <ion-content>
        <div class="card" style="">
            <div class="item item-text-wrap" style="padding:10px;background: white;">
                <h2 style="font-weight: 600; font-size: 20px;">{{title}}</h2><hr>
                <div style="text-align: justify; white-space: normal;">
                    {{text}}
                </div>
            </div>
            <div class="item item-divider" style="text-align: right; font-weight: 500; font-size:12px;">
                <i class="icon ion-calendar"></i> {{datetime}}
            </div>
        </div>
    </ion-content>
</ion-view>