<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">TIMESHEET APPROVAL</h1>
    </ion-header-bar>
    <ion-content>
    	<span class="input-label">Your PIN is very confidential, please be careful.</span>
        <input type="password" placeholder="PIN">
    </ion-content>
</ion-popover-view>