
.title-footer{font-family:'Roboto',sans-serif;font-weight:700!important;font-size:1em!important}.platform-android .action-sheet .action-sheet-title,.platform-android .action-sheet .button{padding-left:16px}.bg{background:url(../img/loginbg.jpg) no-repeat;background-size:cover}.item-backgroundless{background:0}.input-block{width:100%}.login-padding{padding:15px}.login-item{padding-top:5px;padding-bottom:5px}.detail-label{float:left;width:100px}.item-checkbox.activated{background:0;border-color:#ddd}.item-low{padding-top:10px!important;padding-bottom:10px!important}.input-pin{text-align:center}.popup-container .popup{width:90%}.popup-body input{text-align:center}@media screen and (max-width:400px){.bg{background:url(../img/loginbg_400.jpg) no-repeat;background-size:cover}}@media screen and (max-width:500px){.bg{background:url(../img/loginbg_500.jpg) no-repeat;background-size:cover}}@media screen and (max-width:600px){.bg{background:url(../img/loginbg_600.jpg) no-repeat;background-size:cover}}
html {
    width: 100%;
    height: 100%;
    /* background-color: #eee; */
    overflow: auto;
    background: url(../img/loginbg_600.jpg) no-repeat;
    background-size: cover;
}
@media screen and (min-width:800px) {
    body {
        margin-top: -333px;
        margin-left: -182px;
        top: 50%;
        left: 50%;
        width: 375px !important;
        height: 667px !important;
        position: absolute;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }
    
    body.popup-open {
        margin-top: -333px;
        margin-left: -182px;
        top: 50%;
        left: 50%;
        width: 375px !important;
        height: 667px !important;
        position: absolute;
    }
    
    .action-sheet-backdrop {
        margin-top: -333px;
        margin-left: -188px;
        top: 50%;
        left: 50%;
        width: 375px !important;
        height: 667px !important;
        position: absolute;
    }
}

.toggle input:checked + .track {
    border-color: #e88042;
    background-color: #f26f22;
}